body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgb(243, 193, 236);
    background: url(./img/moradas.png ) no-repeat center center fixed;
   /*  background-repeat: no-repeat;
    background-position: 50%; */
    background-size: cover;   
    width: 70%;
    margin: auto;
    
}

.formulario{
  padding-top: 20rem;
    margin: auto;
    width: 50%;
    
}

.formulario input{
  border: 1rem solid rgb(218, 152, 209);
  border-radius: 1rem;
}

.formulario button{
  background-color:  rgb(132, 102, 120);
  border: 1rem solid rgb(132, 102, 120);
  border-radius: 1rem;
  color: white;
  
}

.formulario button:hover{
  background-color:  rgb(105, 82, 96);
  border: 1rem solid rgb(105, 82, 96);
 
  border-radius: 1rem;
  color: white;
  
}