body{
    font-size: 20px;
}
p{
    text-align: center;
}
.formulario-container {
    margin-top: 2%;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px; /* Ajusta este valor según la separación que desees entre la barra de navegación y el formulario */
   
  }
  
  .campo {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #814caf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #9445a0;
  }
  